# Use linux config by default
build --config=linux

# Basic flags
build --verbose_failures=true

# Execute genrules locally
build --strategy=Genrule=sandboxed

# Local executor
build:local --spawn_strategy=local

# Default build options. These are applied first and unconditionally.

# See https://github.com/bazelbuild/bazel/issues/7362 for information on what
# --incompatible_remove_legacy_whole_archive flag does.
build --noincompatible_remove_legacy_whole_archive

# On linux, don't cross compile by default
build:linux --distinct_host_configuration=false

# Do not risk cache corruption. See:
# https://github.com/bazelbuild/bazel/issues/3360
common:linux --experimental_guard_against_concurrent_changes

# Flag to enable remote config
common --experimental_repo_remote_exec

# Use local runner for all tests.
test --strategy=TestRunner=local --noremote_accept_cached

# Compilation errors colors
build --copt=-fdiagnostics-color=always

# Output all test results
test --test_output=all

# Load rc file with user-specific options.
try-import %workspace%/.bazelrc.user
try-import %workspace%/.bazelrc.ci
