target
**/target/
**/*.rs.bk

*.so
*.exe

wasm-pack

.cache/
dist/
node_modules/
**/node_modules/
pkg/

**/*.log

package-lock.json
**/package-lock.json

.idea/
.vscode/
.vagrant/
.eggs/

config.toml
config.dev.toml

/data

**/.ipynb_checkpoints/
**/.pyre/

*.sqlite3

refs.md

__pycache__/

.asv/
env/

_collector_test_data/

*.py.*
*.pyc
*.pyd
*.egg-info

**/__pycache__/

.pytest_cache/
.ipynb_checkpoints/

build/
**/build/
_build/
tmp/

/*.csv
*.torch

*.db

*.png
*.svg
*.onnx

**/.merlin

.nox/

report.json

*.install

# compiled frontend
/dist
/tmp
/out-tsc

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
# System Files
.DS_Store
Thumbs.db

/*.ll
/*.asm
/*.c
/*.o

*.out

# Only exists if Bazel was run
bazel-*

compile_flags.txt

.env

certs/
concourse-config.yml

.bazelrc.ci
.bazelrc.user

usr/
nvim/.luarc.json
